@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="listeBooks">
    <h1>Liste des livres:</h1>
    <!-- la liste des genres est dans la variable Model qui est typé en ligne 3, elle correspond à la variable xxx dans View(xxx) du controller -->
    
    <div class="container">
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-sm card" style="width: 250px; min-width: 250px; max-width: 250px; margin:2%">
                    <div class="card-body">
                        <h5>@book.Title</h5>
                        <br />
                        <span class="card-text">Prix : @book.Price eur</span>
                        <br />
                        <span>Genres :</span>
                        <ul>
                            @foreach (var genre in book.Genres)
                            {
                                <li>@genre.Name</li>
                            }
                        </ul>
                        <div class="d-flex flex-row w-100">
                            <form asp-controller="Book" asp-action="ViewEditPage" class="w-100">
                                <input type="hidden" value="@book.Id" name="id" />
                                <input type="submit" value="Edit" class="btn btn-primary" style="width:90%; margin-top: 5%" />
                            </form>

                            <form asp-controller="Book" asp-action="Delete" class="w-100">
                                <input type="hidden" value="@book.Id" name="id" />
                                <input type="submit" value="Delete" class="btn btn-danger" style="width:90%; margin-top: 5%" />
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

